dsml4s8e/__pycache__/
dsml4s8e/tests/__pycache__
dsml4s8e/tests/.pytest_cache
*.ipynb_checkpoints



# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
*.egg-info/

.tox/
.pytest_cache/